@media screen and (min-width: 992px) {
  .AboutContainer {
    position: relative;
    width: 1240px;
    height: 1095px;
    left: -0px;
    top: 171px;
    margin: auto;
  }
  .SectionAboutContainer {
    height: auto;
    width: 1240px;
    top: 100px;
    border-radius: 25px;
    margin: auto;
    position: relative;
  }

  .AboutTextContainer {
    position: relative;
    width: 1023px;
    height: auto;
    border-radius: 5px;
    margin: auto;
    top: 160px;
  }
  .AboutFooter {
    position: relative;
    top: 200px;
    width: 100%;
    height: 100px; /* Hauteur du pied de page */
  }
}

@media screen and (max-width: 991px) {
}
