@media screen and (min-width: 992px) {
  .CardWrapper {
    position: relative;
    height: 340px;
    width: 340px;
    left: 0px;
    top: -75px;
    border-radius: 0px;
  }

  .CardTitle {
    height: 52px;
    width: 300px;
    left: 20px;
    top: 268px;
    border-radius: nullpx;

    position: relative;
    left: 5.88%;
    /* right: 5.88%; */
    top: 95.82%;
    /* bottom: 5.88%; */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 142.6%;

    /* or 26px */
    display: flex;
    align-items: flex-end;
    color: #ffffff;

    z-index: 3;
  }

  .CardImage {
    height: 340px;
    width: 340px;
    left: 0px;
    top: 0px;
    border-radius: 10px;
  }

  .Rectangle2 {
    position: absolute;
    height: 340px;
    width: 340px;
    left: 0px;
    top: 73px;
    border-radius: 10px;

    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
    border-radius: 10px;
  }
}
@media screen and (max-width: 600px) {
  .CardWrapper {
    position: relative;
    height: 340px;
    width: 340px;
    left: 0px;
    top: -85px;
    border-radius: 0px;
  }

  .CardTitle {
    height: 52px;
    width: 300px;
    left: 20px;
    top: 268px;
    border-radius: nullpx;

    position: relative;
    left: 5.88%;
    /* right: 5.88%; */
    top: 95.82%;
    /* bottom: 5.88%; */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 142.6%;

    /* or 26px */
    display: flex;
    align-items: flex-end;
    color: #ffffff;

    z-index: 3;
  }

  .CardImage {
    height: 340px;
    width: 340px;
    left: 0px;
    top: 0px;
    border-radius: 10px;
  }

  .Rectangle2 {
    height: 255px;
    width: 335px;
    left: 0px;
    top: 0px;
    border-radius: 10px;

    position: absolute;
    height: 340px;
    width: 340px;
    left: 0px;
    top: 73px;
    border-radius: 10px;

    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }
}
