@media screen and (min-width: 992px) {
  .TitleError {
    margin: auto;
    height: 263px;
    width: 1240px;
    border-radius: nullpx;

    position: relative;

    top: 30px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 288px;
    line-height: 142.6%;

    /* or 411px */

    align-items: center;
    text-align: center;

    color: #ff6060;
  }
  .textErrorMobil {
    display: none;
  }

  .textError {
    margin: auto;
    height: 51px;
    width: fit-content;
    top: 100px;
    border-radius: nullpx;
    display: block;
    position: relative;
    display: block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 142.6%;

    /* or 51px */

    align-items: flex-end;

    color: #ff6060;
  }

  .linkHome {
    width: fit-content;
    margin: auto;
    height: 26px;
    width: 284px;
    left: 0px;
    top: -300px;
    border-radius: nullpx;
    position: relative;
  }

  .textLinkError {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;

    /* identical to box height, or 26px */

    align-items: flex-end;
    text-decoration-line: underline;

    color: #ff6060;
    position: relative;
    top: 640px;
  }
}
@media screen and (max-width: 991px) {
  .TitleError {
    margin: auto;
    height: 263px;
    width: 375px;
    border-radius: nullpx;

    position: relative;

    top: 70px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 142.6%;

    /* or 411px */

    align-items: center;
    text-align: center;

    color: #ff6060;
  }

  .textError {
    display: none;
  }
  .textErrorMobil {
    margin: auto;
    height: 51px;
    width: 250px;
    top: -70px;

    border-radius: nullpx;
    display: block;
    position: relative;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    text-align: center;
    /* or 51px */

    align-items: flex-end;

    color: #ff6060;
  }

  .linkHome {
    width: fit-content;
    margin: auto;
    height: 26px;
    width: 375px;
    left: 100px;
    top: -650px;
    border-radius: nullpx;
    position: relative;
  }

  .textLinkError {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 142.6%;

    /* identical to box height, or 26px */
    display: flex;
    align-items: flex-end;
    text-decoration-line: underline;

    color: #ff6060;
    position: relative;
    top: 640px;
  }
}
