.slideshowContainer {
  margin: 0 auto;
  height: 415px;
  width: 1240px;
  left: 0px;
  top: 0px;
  border-radius: 25px;
}

.sliderStyles {
  height: 100%;
  position: relative;
}

/* .slideStyles {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  background-image: url(${slides[currentIndex].url});
} */

.leftArrowStyles {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 32px;
  font-size: 45px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.rightArrowStyles {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 32px;
  font-size: 45px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}
