@media screen and (min-width: 992px) {
  .SectionOneTitle {
    z-index: 3;
    position: absolute;
    left: 25.9%;
    right: 25.14%;
    top: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 142.6%;

    /* or 68px */
    display: flex;
    align-items: flex-end;

    color: #ffffff;
  }

  .SectionOneMaskGroup {
    width: 1240px;
    height: 224px;
  }

  .BackgroundSectionOne1 {
    position: relative;
    bottom: -1px;
    width: 1240px;
    height: 224px;
    background: #000000;
    mix-blend-mode: darken;
    opacity: 0.3;
    border-radius: 25px;
    z-index: 1;
  }

  .ImgSectionOne {
    position: relative;
    width: 1240px;
    height: 224px;
    top: -227px;
    border-radius: 25px;
    z-index: 1;

    /* background: url(eric-muhr-P_XxsdVgtpQ-unsplash.jpg); */
  }

  .BackgroundSectionOne2 {
    position: relative;
    bottom: 455px;
    width: 1240px;
    height: 223px;
    background: #000000;
    mix-blend-mode: darken;
    opacity: 0.3;
    border-radius: 25px;
    z-index: 1;
  }
}

@media screen and (max-width: 600px) {
  .SectionOneTitle {
    z-index: 3;

    position: absolute;
    left: 17px;
    top: -100px;
    /* top: -05.04%; */
    /* bottom: 145.05%; */
    width: 170px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;

    /* or 24px */
    display: flex;
    align-items: flex-end;

    color: #ffffff;
  }

  .SectionOneMaskGroup {
    width: 335px;
    height: 111px;
    position: absolute;
  }

  .BackgroundSectionOne1 {
    position: relative;
    bottom: 111px;
    width: 335px;
    height: 111px;
    background: #000000;
    mix-blend-mode: darken;
    opacity: 0.3;
    border-radius: 25px;
    z-index: 1;
  }

  .ImgSectionOne {
    position: relative;
    width: 335px;
    height: 111px;
    top: -227px;
    border-radius: 25px;
    z-index: 1;

    /* background: url(eric-muhr-P_XxsdVgtpQ-unsplash.jpg); */
  }

  .BackgroundSectionOne2 {
    position: relative;
    bottom: 340px;
    width: 335px;
    height: 111px;
    background: #000000;
    mix-blend-mode: darken;
    opacity: 0.3;
    border-radius: 25px;
    z-index: 1;
  }
}
