@media screen and (min-width: 992px) {
  .SectionAboutContainer {
    position: absolute;
    width: 1240px;
    height: 223px;
    left: 90px;
    top: 167px;
  }

  .SectionAboutMaskGroup {
    width: 1240px;
    height: 224px;
    margin: auto;
  }

  .BackgroundSectionAbout1 {
    position: relative;
    bottom: -1px;
    width: 1240px;
    height: 224px;
    background: #000000;
    mix-blend-mode: darken;
    opacity: 0.3;
    border-radius: 25px;
    z-index: 1;
    display: block;
  }

  .ImgSectionAbout {
    position: relative;
    width: 1240px;
    height: 224px;
    top: -227px;
    border-radius: 25px;
    z-index: 1;
    display: block;

    /* background: url(eric-muhr-P_XxsdVgtpQ-unsplash.jpg); */
  }

  .BackgroundSectionAbout2 {
    position: relative;
    bottom: 455px;
    width: 1240px;
    height: 223px;
    background: #000000;
    mix-blend-mode: darken;
    opacity: 0.3;
    border-radius: 25px;
    z-index: 1;
    display: block;
  }
  .ImgSectionAbout2 {
    display: none;
  }
  .BackgroundSectionAbout1Mobil {
    display: none;
  }
  .BackgroundSectionAbout2Mobil {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .SectionAboutContainer {
    width: 335px;
    /* height: 223px;
    left: 90px;
    top: 167px; */
  }

  .SectionAboutMaskGroup {
    width: 1240px;
    height: 223px;
    position: relative;
    top: 60px;
    left: 11px;
    /* overflow: hidden; */
  }
  .ImgSectionAbout2 {
    position: relative;
    left: 0px;
    width: 336px;
    height: 223px;
    top: -223px;
    display: block;
  }

  .BackgroundSectionAbout1Mobil {
    display: block;
    position: relative;
    top: 0px;
  }
  .BackgroundSectionAbout2Mobil {
    display: block;
    position: relative;
    top: -446px;
  }

  .BackgroundSectionAbout1 {
    display: none;
  }

  .ImgSectionAbout {
    display: none;
  }

  .BackgroundSectionAbout2 {
    display: none;
  }
}
