@media screen and (min-width: 992px) {
  .tagsLogement {
    background: #ff6060;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 142.6%;

    /* identical to box height, or 20px */
    text-align: center;

    color: #ffffff;
  }
}

@media screen and (max-width: 991px) {
}
